.fruit {
    float: left;
    border: 5px solid red;
    height: 70px;
    width: 120px;
  }

  .flex {
    
    max-width: 550px;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: justify;
  }

  .iit {
    max-width: 550px;
  }